*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    height: 5vh;
    width: 100%;
    background-color: black;
    color: white;

    position: relative;
}

header .text{
    position: absolute;
    right: 0;
}
body{
    height: 100vh;
    
}

main{
    width: 100%;
   height: 90%;
    display: flex;
}


.card-container{
    height: 100%;
    width: 100%;
    background-color: black;
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    align-content: start;
    padding: 20px;
    justify-content: center;
    overflow: hidden;
}

.card{
    width: 200px;
    height: 100px;
    background-color: white;
}

.card-container .card img{
    width: 100%;
    height: 100%;
}


footer{
    width: 100%;
    height: 20vh;
    background-color: red;
    position: fixed;
}